<!DOCTYPE html>
<html>
<head>
    <title>Digital Time Capsule</title>
</head>
<body>
    <h1>📦 Digital Time Capsule</h1>

    <form action="/save" method="POST">
        <textarea name="message" placeholder="Write your message..." required></textarea>
        <br><br>
        <input type="datetime-local" name="unlockDate" required>
        <br><br>
        <button type="submit">Lock Capsule</button>
    </form>

    <br>

    <form action="/open" method="POST">
        <button type="submit">Open Capsule</button>
    </form>

</body>
</html>
